.img{
    margin-top: 50px;
    margin-left: 10px;
}.com-form{
    margin-left: 20px;
    /* background-image: url('../../assets/images/img4.jpg'); */
    
}
.button-1{
    margin-left: 50px;
}